[submodule "ARGUS"]
	path = ARGUS
	url = https://github.com/karstenchu/argus.git
[submodule "OVERPASS"]
	path = OVERPASS
	url = https://github.com/MichaelENGs/argus.git
[submodule "WeakLink.AI"]
	path = WeakLink.AI
	url = https://github.com/OxbigDev/HackPrinceton.git
